main {
    border: 3px solid blue;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 80px;
}

#left_sec {
    border: 3px solid red;
    height: fit-content;
    width: 45vw;
    height: 80vh;
    margin: 5px;
}

#right_sec {
    border: 3px solid red;
    height: fit-content;
    width: 45vw;
    height: 80vh;
    margin: 5px;
}